body {
  background: rgb(152, 247, 128);
  text-align: center;
  cursor: url("../img/hammer.png"), auto;
}

.status {
  margin-bottom: 20px;
  font-size: 32px;
}

.game-board {
  width: 550px;
  margin: auto;
}

.hole {
  width: 120px;
  height: 120px;
  background: rgb(77, 77, 77);
  display: inline-block;
  border: 4px solid black;
  border-radius: 50%;
  margin-right: 8px;
}

.hole_with-goblin {
  background-image: url(../img/goblin.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: brown;
}